body {
    color: #1b292a;
    background-color: #f7f8f9;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.main-area {
    padding-top: 6rem;
}

.editor {
    padding: 1em;
    box-shadow: 0 .5em 2em rgba(27,41,42,.0625);
    border: 1px solid #e8e9ea;
    border-radius: .25em;
    background-color: #ffffff;
}

.editor__header {
    font-size: 1.2rem;
    padding-bottom: 1em;
    border-bottom: 1px solid #e8e9ea;
}

.editor__counter {
    display: flex;
    justify-content: space-between;
    padding: 1em 0 1em;
    border-bottom: 1px solid #e8e9ea;
}

.editor__content {
    border-bottom: 1px solid #e8e9ea;
    margin-bottom: 50px;
}

.textarea {
    display: block;
    font-size: 1rem;
    height: 400px;
    padding: 1em 0;
    line-height: 1.5;
    width: 100%;
    overflow-y: scroll;
    border: none;
    resize: vertical;
    outline-style: none;
}

.editor__title {
    margin-bottom: .25rem;
    color: #777;
}

.editor__count {
    font-size: 2rem;
}

